[submodule "library/PigFramework"]
	path = library/PigFramework
	url = https://github.com/preliga/PigFrameworkLibrary
[submodule "public/scripts/lib/PigFrameworkJS"]
	path = public/scripts/lib/PigFrameworkJS
	url = https://github.com/preliga/PigFrameworkJS
